@import '../../App.scss';

.homecontainer {

    background-color: $color-white;
    padding         : 2rem 0;

    @include d(m) {
        width  : 812px;
        padding: 1rem 2rem;
    }

    @include d(s) {
        width: 360px;

    }

    header {
        max-width      : 1136px;
        height         : 115px;
        display        : flex;
        justify-content: center;
        align-items    : center;


        @include d(m) {
            margin: 0 auto;

            .logo {
                width: 100px;
            }
        }

        @include d(s) {
            width          : 100%;
            display        : flex;
            justify-content: space-between;
        }


        input {
            width        : 393px;
            border       : none;
            border-radius: 20px;
            padding      : 8px 16px;
            background   : $color-cinza-claro;
            margin-left  : 2rem;

            @include d(m) {
                width : 272px;
                height: 40px;
            }

            @include d(s) {
                display: none;
            }

        }

        button {
            background-color: transparent;
            color           : $color-secondary;

            &:hover {
                background-color: $color-secondary;
                color           : $color-white;
            }

            @include d(m) {
                width : 166px;
                height: 40px;

            }

            @include d(s) {
                width: 133px;
            }
        }
    }

}