@import '../../App.scss';

section {
    padding         : 69px 100px;
    background-color: $footer-color;
    max-width       : $L-device;

    @include d(m) {
        width  : 812px;
        height : 364px;
        padding: 2rem;
    }

    .container {
        max-width      : 1136px;
        margin         : 0 auto;
        display        : flex;
        justify-content: space-evenly;
        align-items    : baseline;

        @include d(m) {
            width  : 704px;
            height:300px;
            margin : 0;
            display: flex;
            align-items: center;
        }

        .logo {
            position: relative;
            top     : 20px;
        }

        .links {
            width         : 176px;
            height        : 234px;
            display       : flex;
            flex-direction: column;
            align-items   : flex-end;
            margin-right  : 3rem;

            ul {
                display       : flex;
                flex-direction: column;
                width         : 100%;
            }

            li {
                list-style : none;
                line-height: 3.2;
            }

            @include d(m) {
                width: 234px;

                ul li {
                    line-height: 2.5;
                    width      : 176px;
                }
            }
        }

        .fale-conosco {
            width         : 560px;
            height        : 240px;
            display       : flex;
            flex-direction: column;

            p {
                font-weight: 600;
            }

            input {
                height       : 56px;
                margin-bottom: 16px;

            }

            textarea {
                border       : 0;
                border-radius: 4px;
                height       : 82px;
                margin-bottom: 8px;
            }

            button {
                margin-right: 68%;
            }
        }
    }

}

.copy {
    background-color: #fff;
    width           : 100%;
    font-weight     : 500;
    text-align      : center;

    span {
        color: $color-secondary;
    }

    @include d(m) {
        width  : 812px;
        height : 150px;
        padding: 2rem;
    }
}