@import '../../App.scss';

section {
    padding         : 69px 100px;
    background-color: $footer-color;
    max-width       : $L-device;

    @include d(m) {
        width  : 812px;
        height : 364px;
        padding: 2rem;
    }

    @include d(s) {
        width  : 360px;
        height : 553px;
        padding: 2rem;
    }

    .container {
        width          : 1136px;
        display        : flex;
        justify-content: space-between;
        align-items    : baseline;

        @include d(m) {
            width      : 750px;
            height     : 315px;
            margin     : 0;
            display    : flex;
            align-items: center;
        }

        @include d(s) {
            width         : 328px;
            height        : 521px;
            display       : flex;
            flex-direction: column;

        }

    }

    .links {
        width  : 500px;
        height : 234px;
        display: flex;

        .logo {
            position: relative;
            top     : 20px;
        }

        ul {
            display       : flex;
            flex-direction: column;
            width         : 100%;
        }

        li {
            list-style : none;
            line-height: 2.6;
        }

        @include d(m) {

            width         : 234px;
            display       : flex;
            flex-direction: column;


            ul li {
                line-height: 2;
                width      : 176px;
            }
        }
        @include d(s){
            
text-align:center;
            ul li {
                line-height: 2;
                width      : 176px;
            }
        }

    }

    .fale-conosco {
        width         : 560px;
        height        : 240px;
        display       : flex;
        flex-direction: column;

        p {
            font-weight: 600;
        }

        input {
            height       : 56px;
            margin-bottom: 16px;

        }

        textarea {
            border       : 0;
            border-radius: 4px;
            height       : 82px;
            margin-bottom: 8px;
        }

        button {
            margin-right: 68%;
        }

        @include d(m) {
            width : 434px;
            height: 229px;

            input,
            textarea {
                width: 434px;
            }
        }
        @include d(s){
            width: 328px;
            height:229px;

            input,
            textarea {
                width: 328px;
            }
        }
    }


}

.copy {
    background-color: #fff;
    width           : 100%;
    font-weight     : 500;
    text-align      : center;

    span {
        color: $color-secondary;
    }

    @include d(m) {
        width  : 812px;
        height : 150px;
        padding: 2rem;
    }

    @include d(s) {
        width  : 375px;
        height : 100px;
        padding: 2rem;
    }
}