$primary-color  :#464646;
$color-secondary:#2A7AE4;
$color-input    :#F5F5F5;
$L-device       :1440px;
$m-device       :760px;
$s-device       :480px;

* {
  background: $primary-color;
}

@mixin d($size) {
  @if $size==L {
    @media screen and (min-width: #{$L-device}) {
      @content;
    }
  }

  @else if $size==m {
    @media screen and(min-width: #{$m-device}) and (max-width:1199px) {
      @content;
    }
  }

  @else if $size==s {
    @media screen and(max-width: 759px) {
      @content;
    }
  }
}

button {

  @include d(L) {
    
  }
}